@model AguilaDoradaWeb.Models.ServiciosEnVenta
@using AguilaDoradaWeb.Models;


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aguila Dorada</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/one-page-wonder.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Aguila Dorada</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h3 class="masthead-heading mb-0">Resultados</h3>

               
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <br /><br />
        
    <div class="container">
        <div class="row align-items-center">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Recorrido</th>
                        <th scope="col">Linea</th>
                        <th scope="col">Partida</th>
                        <th scope="col">Llegada</th>
                        <th scope="col">Valor Del Pasaje</th>
                        <th scope="col">Asientos Libres</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.listadoServicios != null)
                    {
                        foreach (var item in ViewBag.listadoServicios)
                        {
                            <tr>
                                <th scope="row">@item.Recorrido</th>
                                <td>@item.Linea</td>
                                <td>@item.Salida</td>
                                <td>@item.Llegada</td>
                                <td>@item.Precio</td>
                                <td>@item.Ocupacion</td>
                                <td><a href="@Url.Action("seleccionarAsientos", "Home", new { id = item.Id, vehiculoId = item.VehiculoId, recorridoId = item.RecorridoId, idOrigen = ViewData["idOrigen"], idDestino = ViewData["idDestino"]}) " class="btn btn-info" role="button">Comprar</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h5> No hay resultados</h5>
                    }

                    




                </tbody>
            </table>
            <div>
                @Html.ActionLink("Volver", "Index", "Home")
            </div>
            </div>
        </div>


    

    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Aguila Dorada 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
</body>

</html>
